In [1]:
import pandas as pd
import numpy as np
import re
import os

#Webscraping/NLP
import requests
from requests import get
from bs4 import BeautifulSoup
import time
import nltk
import requests
import unicodedata
from nltk.corpus import stopwords

#Visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

#My imports
import prepare as p
import acquire as a
from importlib import reload

In [2]:
#Get the data
df = pd.read_pickle('data/michelin_df.pickle')
df.head()

,name,address,location,price,cuisine,longitude,latitude,phone_number,url,website_url,award,facilities_and_services,data
0,King's Joy,"2 Wudaoying Hutong, Beijing, China Mainland","Beijing, China Mainland",¥¥¥,Vegetarian,116.410004,39.946681,8.610840e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","Just a stone’s throw from Yonghe Temple, this ..."
1,Xin Rong Ji (Xinyuan South Road),"1F, East Tower, Genesis Beijing, 8 Xinyuan Sou...","Beijing, China Mainland",¥¥¥¥,Taizhou,116.450148,39.946380,8.610650e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,Car park,China UnionPay,Count...",This branch of the chain restaurant opened in ...
2,Taian Table,"101-102, Building No. 1, Garden Office, No.161...","Shanghai, China Mainland",¥¥¥¥,Innovative,121.474049,31.221807,8.617302e+12,https://guide.michelin.com/en/shanghai-municip...,https://taian-table.cn/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",A fixture on the city’s dining scene since 201...
3,Ultraviolet by Paul Pairet,'somewhere in Shanghai' - meet at Mr & Mrs Bun...,"Shanghai, China Mainland",¥¥¥¥,Innovative,121.485090,31.240358,NaN,https://guide.michelin.com/en/shanghai-municip...,https://uvbypp.cc/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",This multi-sensory experience at a secret loca...
4,Quince,"470 Pacific Ave., San Francisco, 94133, USA","San Francisco, USA",$$$$,"Contemporary, Californian",-122.403261,37.797505,1.415776e+10,https://guide.michelin.com/en/california/san-f...,http://www.quincerestaurant.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","An air of refinement infuses this dining room,..."

In [140]:
#TODO make visualization of distribution of Michelin star levels

In [141]:
#TODO drop phone number column?

In [95]:
# # Turn NaN values in price to nothing, so that it can be recast into the price_level column
# df['price'] = df['price'].fillna('').astype('str')

€€      1337
€€€€    1261
€€€      854
$$       543
€        403
¥¥¥      359
¥¥       346
$$$$     288
$        228
¥        221
$$$      149
¥¥¥¥     139
฿฿       106
££        98
££££      89
฿         84
£££       68
          54
₩         47
₩₩₩₩      28
฿฿฿฿      19
฿฿฿       15
£         12
₩₩        10
₺          8
₩₩₩        7
₺₺         3
₺₺₺₺       2
₺₺₺        2
Name: price, dtype: int64

In [96]:
# #Casting a new column, price level, using length of column
# df['price_level'] = df['price'].apply(lambda x: len(x))

In [101]:
# #Setting mode of this column
# mode= df.price_level.mode()[0]
# mode

2

In [102]:
# #Imputing 0s in price level with the mode for this column
# df['price_level'] = df['price_level'].replace(0, mode)

In [104]:
#Separate City and country columns to create two new columns
df.location

0        Beijing, China Mainland
1        Beijing, China Mainland
2       Shanghai, China Mainland
3       Shanghai, China Mainland
4             San Francisco, USA
                  ...
6775              Warsaw, Poland
6776              Cracow, Poland
6777              Cracow, Poland
6778              Warsaw, Poland
6779              Warsaw, Poland
Name: location, Length: 6780, dtype: object

In [105]:
# #splitting location columns into two columns
# df[['city', 'country']] = df['location'].str.split(',', 1, expand=True)

In [107]:
# #Dropping phone number column
# df = df.drop(['phone_number'], axis=1)

In [108]:
# #Dropping website url column
# df = df.drop(['website_url'], axis=1)

In [109]:
# #lower case all column values if column is object/string type
# df = df.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)

In [112]:
ret_df.head()

,clean,lemmatized
0,stones throw yonghe temple serene restaurant r...,stone throw yonghe temple serene restaurant re...
1,branch chain restaurant opened 2019 features e...,branch chain restaurant opened 2019 feature el...
2,fixture citys dining scene since 2016 brainchi...,fixture city dining scene since 2016 brainchil...
3,multisensory experience secret location combin...,multisensory experience secret location combin...
4,air refinement infuses dining room thanks mura...,air refinement infuses dining room thanks mura...

In [113]:
df = pd.concat([df, ret_df], axis=1)

In [41]:
#TODO Create clean dtypes function

In [127]:
# #Turn city/states into city states, impute city into country column
# df['country'] = np.where(pd.isna(df['country']), df['city'], df['country'])

In [154]:
#For testing this function, getting clean data
df = pd.read_pickle('data/michelin_df.pickle')
df.head()

,name,address,location,price,cuisine,longitude,latitude,phone_number,url,website_url,award,facilities_and_services,data
0,King's Joy,"2 Wudaoying Hutong, Beijing, China Mainland","Beijing, China Mainland",¥¥¥,Vegetarian,116.410004,39.946681,8.610840e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","Just a stone’s throw from Yonghe Temple, this ..."
1,Xin Rong Ji (Xinyuan South Road),"1F, East Tower, Genesis Beijing, 8 Xinyuan Sou...","Beijing, China Mainland",¥¥¥¥,Taizhou,116.450148,39.946380,8.610650e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,Car park,China UnionPay,Count...",This branch of the chain restaurant opened in ...
2,Taian Table,"101-102, Building No. 1, Garden Office, No.161...","Shanghai, China Mainland",¥¥¥¥,Innovative,121.474049,31.221807,8.617302e+12,https://guide.michelin.com/en/shanghai-municip...,https://taian-table.cn/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",A fixture on the city’s dining scene since 201...
3,Ultraviolet by Paul Pairet,'somewhere in Shanghai' - meet at Mr & Mrs Bun...,"Shanghai, China Mainland",¥¥¥¥,Innovative,121.485090,31.240358,NaN,https://guide.michelin.com/en/shanghai-municip...,https://uvbypp.cc/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",This multi-sensory experience at a secret loca...
4,Quince,"470 Pacific Ave., San Francisco, 94133, USA","San Francisco, USA",$$$$,"Contemporary, Californian",-122.403261,37.797505,1.415776e+10,https://guide.michelin.com/en/california/san-f...,http://www.quincerestaurant.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","An air of refinement infuses this dining room,..."

In [158]:
reload(p)

In [150]:
def create_features(df):
    '''
    This function takes in the dataframe, drops unnecessary columns,
    and creates new columns/features for exploration and potential
    classification purposes. It returns the dataframe with applications
    '''
    # Dropping unnecessary columns
    df = df.drop(['phone_number', 'website_url'], axis=1)
    
    #lower case all column values if column is object/string type
    df = df.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)
    
    # Turn NaN values in price to 'nothing', so that it can be recast into the price_level column
    df['price'] = df['price'].fillna('').astype('str')
    # Casting a new column, price level, using length of column
    df['price_level'] = df['price'].apply(lambda x: len(x))
    # impute price level "0" with the mode for this column
    mode= df.price_level.mode()[0]
    df['price_level'] = df['price_level'].replace(0, mode)
    
    # splitting location columns into two columns
    df[['city', 'country']] = df['location'].str.split(', ', 1, expand=True)
    # Turn city/states into city states, impute city into country column (i.e Hong Kong, Hong Kong)
    df['country'] = np.where(pd.isna(df['country']), df['city'], df['country'])

    return df

In [3]:
df = p.create_features(df)

In [4]:
df.head()

,name,address,location,price,cuisine,longitude,latitude,url,award,facilities_and_services,data,price_level,city,country
0,king's joy,"2 wudaoying hutong, beijing, china mainland","beijing, china mainland",¥¥¥,vegetarian,116.410004,39.946681,https://guide.michelin.com/en/beijing-municipa...,3 michelin stars,"air conditioning,american express credit card,...","just a stone’s throw from yonghe temple, this ...",3,beijing,china mainland
1,xin rong ji (xinyuan south road),"1f, east tower, genesis beijing, 8 xinyuan sou...","beijing, china mainland",¥¥¥¥,taizhou,116.450148,39.946380,https://guide.michelin.com/en/beijing-municipa...,3 michelin stars,"air conditioning,car park,china unionpay,count...",this branch of the chain restaurant opened in ...,4,beijing,china mainland
2,taian table,"101-102, building no. 1, garden office, no.161...","shanghai, china mainland",¥¥¥¥,innovative,121.474049,31.221807,https://guide.michelin.com/en/shanghai-municip...,3 michelin stars,"air conditioning,american express credit card,...",a fixture on the city’s dining scene since 201...,4,shanghai,china mainland
3,ultraviolet by paul pairet,'somewhere in shanghai' - meet at mr & mrs bun...,"shanghai, china mainland",¥¥¥¥,innovative,121.485090,31.240358,https://guide.michelin.com/en/shanghai-municip...,3 michelin stars,"air conditioning,american express credit card,...",this multi-sensory experience at a secret loca...,4,shanghai,china mainland
4,quince,"470 pacific ave., san francisco, 94133, usa","san francisco, usa",$$$$,"contemporary, californian",-122.403261,37.797505,https://guide.michelin.com/en/california/san-f...,3 michelin stars,"air conditioning,american express credit card,...","an air of refinement infuses this dining room,...",4,san francisco,usa

In [161]:
df.country.value_counts()

france               1046
japan                 855
italy                 642
usa                   600
germany               591
spain                 489
switzerland           277
united kingdom        267
belgium               267
netherlands           225
thailand              224
china mainland        211
taipei & taichung     179
hong kong             135
singapore             119
south korea            92
portugal               75
brazil                 51
canada                 50
denmark                44
malaysia               36
ireland                36
sweden                 31
austria                28
dubai                  25
macau                  22
croatia                22
norway                 17
slovenia               17
luxembourg             16
türkiye                15
hungary                15
greece                 12
finland                 9
malta                   9
abu dhabi               7
estonia                 7
czech republic          7
poland                  6
iceland                 2
andorra                 1
serbia                  1
Name: country, dtype: int64

In [5]:
#Get clean and lemmatized text from reviews from prepare file
ret_df = p.process_nl(df.data)

In [6]:
df = pd.concat([df, ret_df], axis=1)

In [7]:
df.head()

,name,address,location,price,cuisine,longitude,latitude,url,award,facilities_and_services,data,price_level,city,country,clean,lemmatized
0,king's joy,"2 wudaoying hutong, beijing, china mainland","beijing, china mainland",¥¥¥,vegetarian,116.410004,39.946681,https://guide.michelin.com/en/beijing-municipa...,3 michelin stars,"air conditioning,american express credit card,...","just a stone’s throw from yonghe temple, this ...",3,beijing,china mainland,stones throw yonghe temple serene remodelled c...,stone throw yonghe temple serene remodelled co...
1,xin rong ji (xinyuan south road),"1f, east tower, genesis beijing, 8 xinyuan sou...","beijing, china mainland",¥¥¥¥,taizhou,116.450148,39.946380,https://guide.michelin.com/en/beijing-municipa...,3 michelin stars,"air conditioning,car park,china unionpay,count...",this branch of the chain restaurant opened in ...,4,beijing,china mainland,branch chain opened 2019 features elegant rela...,branch chain opened 2019 feature elegant relax...
2,taian table,"101-102, building no. 1, garden office, no.161...","shanghai, china mainland",¥¥¥¥,innovative,121.474049,31.221807,https://guide.michelin.com/en/shanghai-municip...,3 michelin stars,"air conditioning,american express credit card,...",a fixture on the city’s dining scene since 201...,4,shanghai,china mainland,fixture citys scene since 2016 brainchild stef...,fixture city scene since 2016 brainchild stefa...
3,ultraviolet by paul pairet,'somewhere in shanghai' - meet at mr & mrs bun...,"shanghai, china mainland",¥¥¥¥,innovative,121.485090,31.240358,https://guide.michelin.com/en/shanghai-municip...,3 michelin stars,"air conditioning,american express credit card,...",this multi-sensory experience at a secret loca...,4,shanghai,china mainland,multisensory experience secret location combin...,multisensory experience secret location combin...
4,quince,"470 pacific ave., san francisco, 94133, usa","san francisco, usa",$$$$,"contemporary, californian",-122.403261,37.797505,https://guide.michelin.com/en/california/san-f...,3 michelin stars,"air conditioning,american express credit card,...","an air of refinement infuses this dining room,...",4,san francisco,usa,air refinement infuses room thanks murano chan...,air refinement infuses room thanks murano chan...