In [12]:
import pandas as pd
import numpy as np
import re
import os

#Webscraping/NLP
import requests
from requests import get
from bs4 import BeautifulSoup
import time
import nltk
import requests
import unicodedata
from nltk.corpus import stopwords

#Visualizations
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
#Get the data
df = pd.read_pickle('data/michelin_df.pickle')
df.head()

,name,address,location,price,cuisine,longitude,latitude,phone_number,url,website_url,award,facilities_and_services,data
0,King's Joy,"2 Wudaoying Hutong, Beijing, China Mainland","Beijing, China Mainland",¥¥¥,Vegetarian,116.410004,39.946681,8.610840e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","Just a stone’s throw from Yonghe Temple, this ..."
1,Xin Rong Ji (Xinyuan South Road),"1F, East Tower, Genesis Beijing, 8 Xinyuan Sou...","Beijing, China Mainland",¥¥¥¥,Taizhou,116.450148,39.946380,8.610650e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,Car park,China UnionPay,Count...",This branch of the chain restaurant opened in ...
2,Taian Table,"101-102, Building No. 1, Garden Office, No.161...","Shanghai, China Mainland",¥¥¥¥,Innovative,121.474049,31.221807,8.617302e+12,https://guide.michelin.com/en/shanghai-municip...,https://taian-table.cn/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",A fixture on the city’s dining scene since 201...
3,Ultraviolet by Paul Pairet,'somewhere in Shanghai' - meet at Mr & Mrs Bun...,"Shanghai, China Mainland",¥¥¥¥,Innovative,121.485090,31.240358,NaN,https://guide.michelin.com/en/shanghai-municip...,https://uvbypp.cc/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",This multi-sensory experience at a secret loca...
4,Quince,"470 Pacific Ave., San Francisco, 94133, USA","San Francisco, USA",$$$$,"Contemporary, Californian",-122.403261,37.797505,1.415776e+10,https://guide.michelin.com/en/california/san-f...,http://www.quincerestaurant.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","An air of refinement infuses this dining room,..."

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6780 entries, 0 to 6779
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     6780 non-null   object
 1   address                  6780 non-null   object
 2   location                 6780 non-null   object
 3   price                    6726 non-null   object
 4   cuisine                  6780 non-null   object
 5   longitude                6780 non-null   float64
 6   latitude                 6780 non-null   float64
 7   phone_number             6649 non-null   float64
 8   url                      6780 non-null   object
 9   website_url              5542 non-null   object
 10  award                    6780 non-null   object
 11  facilities_and_services  6732 non-null   object
 12  data                     6780 non-null   object
dtypes: float64(3), object(10)
memory usage: 688.7+ KB

In [ ]:
#docstring to make docstring and comments

In [4]:
df.award.value_counts()

Bib Gourmand        3411
1 MICHELIN Star     2744
2 MICHELIN Stars     483
3 MICHELIN Stars     142
Name: award, dtype: int64

In [10]:
#TODO make visualization of distribution of Michelin star levels

In [9]:
df.price.value_counts()

€€      1337
€€€€    1261
€€€      854
$$       543
€        403
¥¥¥      359
¥¥       346
$$$$     288
$        228
¥        221
$$$      149
¥¥¥¥     139
฿฿       106
££        98
££££      89
฿         84
£££       68
₩         47
₩₩₩₩      28
฿฿฿฿      19
฿฿฿       15
£         12
₩₩        10
₺          8
₩₩₩        7
₺₺         3
₺₺₺        2
₺₺₺₺       2
Name: price, dtype: int64

In [11]:
#TODO drop phone number column?

In [15]:
#What is this column type
df.price.dtype

dtype('O')

In [17]:
#Recasting price as string
df['price'] = df['price'].astype(str)

In [18]:
#Casting a new column, price level, using length of column
df['price_level'] = df['price'].apply(lambda x: len(x))

In [20]:
#Frequency of price levels in dataframe
df.price_level.value_counts()

2    2443
4    1826
3    1508
1    1003
Name: price_level, dtype: int64

In [21]:
#Separate City and country columns to create two new columns
df.location

0        Beijing, China Mainland
1        Beijing, China Mainland
2       Shanghai, China Mainland
3       Shanghai, China Mainland
4             San Francisco, USA
                  ...
6775              Warsaw, Poland
6776              Cracow, Poland
6777              Cracow, Poland
6778              Warsaw, Poland
6779              Warsaw, Poland
Name: location, Length: 6780, dtype: object

In [23]:
#splitting location columns into two columns
df[['city', 'country']] = df['location'].str.split(',', 1, expand=True)

In [24]:
df.head()

,name,address,location,price,cuisine,longitude,latitude,phone_number,url,website_url,award,facilities_and_services,data,price_level,city,country
0,King's Joy,"2 Wudaoying Hutong, Beijing, China Mainland","Beijing, China Mainland",¥¥¥,Vegetarian,116.410004,39.946681,8.610840e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","Just a stone’s throw from Yonghe Temple, this ...",3,Beijing,China Mainland
1,Xin Rong Ji (Xinyuan South Road),"1F, East Tower, Genesis Beijing, 8 Xinyuan Sou...","Beijing, China Mainland",¥¥¥¥,Taizhou,116.450148,39.946380,8.610650e+11,https://guide.michelin.com/en/beijing-municipa...,NaN,3 MICHELIN Stars,"Air conditioning,Car park,China UnionPay,Count...",This branch of the chain restaurant opened in ...,4,Beijing,China Mainland
2,Taian Table,"101-102, Building No. 1, Garden Office, No.161...","Shanghai, China Mainland",¥¥¥¥,Innovative,121.474049,31.221807,8.617302e+12,https://guide.michelin.com/en/shanghai-municip...,https://taian-table.cn/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",A fixture on the city’s dining scene since 201...,4,Shanghai,China Mainland
3,Ultraviolet by Paul Pairet,'somewhere in Shanghai' - meet at Mr & Mrs Bun...,"Shanghai, China Mainland",¥¥¥¥,Innovative,121.485090,31.240358,NaN,https://guide.michelin.com/en/shanghai-municip...,https://uvbypp.cc/,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",This multi-sensory experience at a secret loca...,4,Shanghai,China Mainland
4,Quince,"470 Pacific Ave., San Francisco, 94133, USA","San Francisco, USA",$$$$,"Contemporary, Californian",-122.403261,37.797505,1.415776e+10,https://guide.michelin.com/en/california/san-f...,http://www.quincerestaurant.com,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","An air of refinement infuses this dining room,...",4,San Francisco,USA

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6780 entries, 0 to 6779
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   name                     6780 non-null   object
 1   address                  6780 non-null   object
 2   location                 6780 non-null   object
 3   price                    6780 non-null   object
 4   cuisine                  6780 non-null   object
 5   longitude                6780 non-null   float64
 6   latitude                 6780 non-null   float64
 7   url                      6780 non-null   object
 8   website_url              5542 non-null   object
 9   award                    6780 non-null   object
 10  facilities_and_services  6732 non-null   object
 11  data                     6780 non-null   object
 12  price_level              6780 non-null   int64
 13  city                     6780 non-null   object
 14  country                  6466 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 794.7+ KB

In [28]:
#Dropping phone number column
df = df.drop(['phone_number'], axis=1)

In [30]:
#Dropping website url column
df = df.drop(['website_url'], axis=1)

In [31]:
df.head()

,name,address,location,price,cuisine,longitude,latitude,url,award,facilities_and_services,data,price_level,city,country
0,King's Joy,"2 Wudaoying Hutong, Beijing, China Mainland","Beijing, China Mainland",¥¥¥,Vegetarian,116.410004,39.946681,https://guide.michelin.com/en/beijing-municipa...,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","Just a stone’s throw from Yonghe Temple, this ...",3,Beijing,China Mainland
1,Xin Rong Ji (Xinyuan South Road),"1F, East Tower, Genesis Beijing, 8 Xinyuan Sou...","Beijing, China Mainland",¥¥¥¥,Taizhou,116.450148,39.946380,https://guide.michelin.com/en/beijing-municipa...,3 MICHELIN Stars,"Air conditioning,Car park,China UnionPay,Count...",This branch of the chain restaurant opened in ...,4,Beijing,China Mainland
2,Taian Table,"101-102, Building No. 1, Garden Office, No.161...","Shanghai, China Mainland",¥¥¥¥,Innovative,121.474049,31.221807,https://guide.michelin.com/en/shanghai-municip...,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",A fixture on the city’s dining scene since 201...,4,Shanghai,China Mainland
3,Ultraviolet by Paul Pairet,'somewhere in Shanghai' - meet at Mr & Mrs Bun...,"Shanghai, China Mainland",¥¥¥¥,Innovative,121.485090,31.240358,https://guide.michelin.com/en/shanghai-municip...,3 MICHELIN Stars,"Air conditioning,American Express credit card,...",This multi-sensory experience at a secret loca...,4,Shanghai,China Mainland
4,Quince,"470 Pacific Ave., San Francisco, 94133, USA","San Francisco, USA",$$$$,"Contemporary, Californian",-122.403261,37.797505,https://guide.michelin.com/en/california/san-f...,3 MICHELIN Stars,"Air conditioning,American Express credit card,...","An air of refinement infuses this dining room,...",4,San Francisco,USA

In [33]:
#lower case all column values if column is object/string type
df = df.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)